body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
    font-family: "Playfair Display", serif;
    height: 300vh;
}

.navbar {
    display: flex;
    position: fixed;
    transition: transform 0.3s ease-in-out;
    background-color: #000000;
    color: white;
    width: 100%;
    height: 10%;
    min-height: 40px;
    max-height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(0); /* Start in view */
}

.navbar.hidden {
    transform: translateY(-100%); /* Hide the navbar */
}

.iconcontainer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.words {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.AccountcartContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Accou {
    text-decoration: none;
    color: white;
    font-family: "Playfair Display", serif;
    padding: 5px;
}

.cartImg {
    filter: invert(1);
    height: 25px;
}

.icon {
    height: 25px;
    aspect-ratio: 1;
    border-radius: 3px;
    border: 2px solid rgb(25, 25, 25);
    filter: invert(1);
    cursor: pointer;
    text-decoration: none;
}
